//VCL Form Cracker, by Luigi Bianchi (Copyright, 2000)

//http:\www.luigibianchi.com


#include <winuser.h>
#include <COMMCTRL.H>

#include "about.rh"








//BEFORE_DIALOG_RC
//
//

//BEGIN
IDC_TABOUTBOX DIALOGEX 224 190 195 196
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
STYLE 0x00 | WS_POPUP | WS_CAPTION | WS_DLGFRAME | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | DS_3DLOOK | DS_FIXEDSYS
CAPTION "About"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_PNLBUTTON, "static", WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 0, 174, 195, 21, 0x00
 CONTROL "OK", IDC_OKBUTTON, "button", WS_CHILD | BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 73, 177, 53, 15, 0x00
}


//VCL Form Converter, by Luigi Bianchi
