//VCL Form Cracker, by Luigi Bianchi (Copyright, 2000)

//http:\www.luigibianchi.com


#include <winuser.h>
#include <COMMCTRL.H>

#include "eLib.rh"







IDC_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
   MENUITEM "", IDC_MNUDWNDWNBOOKLIST
   MENUITEM "", IDC_MNUFILEDOWNLOADBOOK
   MENUITEM SEPARATOR
  MENUITEM "E&xit", IDC_MNUFILEEXIT
  END
  POPUP "&My Library"
  BEGIN
   MENUITEM "", IDC_READBOOK1
   MENUITEM "", IDC_MNUFILEEXPORTTOHTML
   MENUITEM "", IDC_MNUFILEEDITBOOK
   MENUITEM SEPARATOR
  MENUITEM "", IDC_MNUFILEDELETEBOOK
  END
  POPUP "&View"
  BEGIN
   MENUITEM "Toolbar", IDC_MNUVIEWTOOLBAR
   MENUITEM "Grid Lines", IDC_MNUVIEWGRIDLINES
   MENUITEM "Status Bar", IDC_MNUVIEWSTATUSBAR
   MENUITEM SEPARATOR
  MENUITEM "&Options...", IDC_MNUVIEWOPTIONS
  END
  POPUP "&Bookmarks"
  BEGIN
   MENUITEM "&Add To Bookmarks", IDC_MNUBOOKMARKADDBOOKMARK
   MENUITEM "&Remove Bookmarks", IDC_MNUREMOVEBOOKMARKS
  MENUITEM SEPARATOR
  END
  POPUP "Book &Reader"
  BEGIN
   MENUITEM "", IDC_MNUBOOKREADERPREVIOUSPAGE
   MENUITEM "", IDC_MNUBOOKREADERNEXTPAGE
   MENUITEM "&Go To Page...", IDC_MNUBOOKREADERGOTOPAGE
   MENUITEM SEPARATOR
   MENUITEM "&Find...", IDC_MNUBOOKREADERFIND
   MENUITEM SEPARATOR
   MENUITEM "", IDC_MNUBKREADERFULLSCREEN
   MENUITEM SEPARATOR
   MENUITEM "", IDC_PRINTBOOK1
  MENUITEM "", IDC_MNUBOOKREADERCLOSE
  END
  POPUP "&Help"
  BEGIN
 MENUITEM "&About...", IDC_MNUHELPABOUT
 END
 END


IDC_BOOKLISTPOPUP MENU
BEGIN
  MENUITEM "&Search For Author", IDC_MNUBOOKSEARCHFORAUTHOR
  MENUITEM SEPARATOR
  MENUITEM "", IDC_DOWNLOADBOOKLISTPOPUP
 MENUITEM "", IDC_DOWNLOADBOOKPOPUP
 END


IDC_POPMYLIBRARY MENU
BEGIN
  MENUITEM "&Search For Author", IDC_POPSEARCHFORAUTHOR
  MENUITEM SEPARATOR
  MENUITEM "", IDC_POPREADBOOK
  MENUITEM "", IDC_POPEXPORTTOHTML
  MENUITEM "", IDC_POPEDITBOOK
  MENUITEM SEPARATOR
 MENUITEM "", IDC_POPDELETEBOOK
 END


IDC_POPREADER MENU
BEGIN
  MENUITEM "", IDC_POPPREVPAGE
  MENUITEM "", IDC_POPNEXTPAGE
  MENUITEM "&Go To Page...", IDC_POPGOTOPAGE
  MENUITEM SEPARATOR
  MENUITEM "&Add To Bookmarks", IDC_POPADDTOBOOKMARKS
  MENUITEM "&Find...", IDC_POPFIND
  MENUITEM SEPARATOR
  MENUITEM "", IDC_POPFULLSCREEN
  MENUITEM SEPARATOR
  MENUITEM "", IDC_PRINT1
 MENUITEM "", IDC_POPCLOSE
 END



IDC_ACTIVEIMAGES_ICO_6 ICON TmainFormActiveImages6.ico
IDC_ACTIVEIMAGES_BMP_6_MSK BITMAP TmainFormActiveImages6_msk.bmp
IDC_ACTIVEIMAGES_BMP_6 BITMAP TmainFormActiveImages6.bmp
IDC_ACTIVEIMAGES_ICO_5 ICON TmainFormActiveImages5.ico
IDC_ACTIVEIMAGES_BMP_5_MSK BITMAP TmainFormActiveImages5_msk.bmp
IDC_ACTIVEIMAGES_BMP_5 BITMAP TmainFormActiveImages5.bmp
IDC_ACTIVEIMAGES_ICO_4 ICON TmainFormActiveImages4.ico
IDC_ACTIVEIMAGES_BMP_4_MSK BITMAP TmainFormActiveImages4_msk.bmp
IDC_ACTIVEIMAGES_BMP_4 BITMAP TmainFormActiveImages4.bmp
IDC_ACTIVEIMAGES_ICO_3 ICON TmainFormActiveImages3.ico
IDC_ACTIVEIMAGES_BMP_3_MSK BITMAP TmainFormActiveImages3_msk.bmp
IDC_ACTIVEIMAGES_BMP_3 BITMAP TmainFormActiveImages3.bmp
IDC_ACTIVEIMAGES_ICO_2 ICON TmainFormActiveImages2.ico
IDC_ACTIVEIMAGES_BMP_2_MSK BITMAP TmainFormActiveImages2_msk.bmp
IDC_ACTIVEIMAGES_BMP_2 BITMAP TmainFormActiveImages2.bmp
IDC_ACTIVEIMAGES_ICO_1 ICON TmainFormActiveImages1.ico
IDC_ACTIVEIMAGES_BMP_1_MSK BITMAP TmainFormActiveImages1_msk.bmp
IDC_ACTIVEIMAGES_BMP_1 BITMAP TmainFormActiveImages1.bmp
IDC_ACTIVEIMAGES_ICO_0 ICON TmainFormActiveImages0.ico
IDC_ACTIVEIMAGES_BMP_0_MSK BITMAP TmainFormActiveImages0_msk.bmp
IDC_ACTIVEIMAGES_BMP_0 BITMAP TmainFormActiveImages0.bmp
IDC_INACTIVEIMAGES_ICO_6 ICON TmainFormInactiveImages6.ico
IDC_INACTIVEIMAGES_BMP_6_MSK BITMAP TmainFormInactiveImages6_msk.bmp
IDC_INACTIVEIMAGES_BMP_6 BITMAP TmainFormInactiveImages6.bmp
IDC_INACTIVEIMAGES_ICO_5 ICON TmainFormInactiveImages5.ico
IDC_INACTIVEIMAGES_BMP_5_MSK BITMAP TmainFormInactiveImages5_msk.bmp
IDC_INACTIVEIMAGES_BMP_5 BITMAP TmainFormInactiveImages5.bmp
IDC_INACTIVEIMAGES_ICO_4 ICON TmainFormInactiveImages4.ico
IDC_INACTIVEIMAGES_BMP_4_MSK BITMAP TmainFormInactiveImages4_msk.bmp
IDC_INACTIVEIMAGES_BMP_4 BITMAP TmainFormInactiveImages4.bmp
IDC_INACTIVEIMAGES_ICO_3 ICON TmainFormInactiveImages3.ico
IDC_INACTIVEIMAGES_BMP_3_MSK BITMAP TmainFormInactiveImages3_msk.bmp
IDC_INACTIVEIMAGES_BMP_3 BITMAP TmainFormInactiveImages3.bmp
IDC_INACTIVEIMAGES_ICO_2 ICON TmainFormInactiveImages2.ico
IDC_INACTIVEIMAGES_BMP_2_MSK BITMAP TmainFormInactiveImages2_msk.bmp
IDC_INACTIVEIMAGES_BMP_2 BITMAP TmainFormInactiveImages2.bmp
IDC_INACTIVEIMAGES_ICO_1 ICON TmainFormInactiveImages1.ico
IDC_INACTIVEIMAGES_BMP_1_MSK BITMAP TmainFormInactiveImages1_msk.bmp
IDC_INACTIVEIMAGES_BMP_1 BITMAP TmainFormInactiveImages1.bmp
IDC_INACTIVEIMAGES_ICO_0 ICON TmainFormInactiveImages0.ico
IDC_INACTIVEIMAGES_BMP_0_MSK BITMAP TmainFormInactiveImages0_msk.bmp
IDC_INACTIVEIMAGES_BMP_0 BITMAP TmainFormInactiveImages0.bmp
IDC_HOTIMAGES_ICO_6 ICON TmainFormHotImages6.ico
IDC_HOTIMAGES_BMP_6_MSK BITMAP TmainFormHotImages6_msk.bmp
IDC_HOTIMAGES_BMP_6 BITMAP TmainFormHotImages6.bmp
IDC_HOTIMAGES_ICO_5 ICON TmainFormHotImages5.ico
IDC_HOTIMAGES_BMP_5_MSK BITMAP TmainFormHotImages5_msk.bmp
IDC_HOTIMAGES_BMP_5 BITMAP TmainFormHotImages5.bmp
IDC_HOTIMAGES_ICO_4 ICON TmainFormHotImages4.ico
IDC_HOTIMAGES_BMP_4_MSK BITMAP TmainFormHotImages4_msk.bmp
IDC_HOTIMAGES_BMP_4 BITMAP TmainFormHotImages4.bmp
IDC_HOTIMAGES_ICO_3 ICON TmainFormHotImages3.ico
IDC_HOTIMAGES_BMP_3_MSK BITMAP TmainFormHotImages3_msk.bmp
IDC_HOTIMAGES_BMP_3 BITMAP TmainFormHotImages3.bmp
IDC_HOTIMAGES_ICO_2 ICON TmainFormHotImages2.ico
IDC_HOTIMAGES_BMP_2_MSK BITMAP TmainFormHotImages2_msk.bmp
IDC_HOTIMAGES_BMP_2 BITMAP TmainFormHotImages2.bmp
IDC_HOTIMAGES_ICO_1 ICON TmainFormHotImages1.ico
IDC_HOTIMAGES_BMP_1_MSK BITMAP TmainFormHotImages1_msk.bmp
IDC_HOTIMAGES_BMP_1 BITMAP TmainFormHotImages1.bmp
IDC_HOTIMAGES_ICO_0 ICON TmainFormHotImages0.ico
IDC_HOTIMAGES_BMP_0_MSK BITMAP TmainFormHotImages0_msk.bmp
IDC_HOTIMAGES_BMP_0 BITMAP TmainFormHotImages0.bmp
//BEFORE_DIALOG_RC
//
//

//BEGIN
IDC_TMAINFORM DIALOGEX 129 67 429 303
EXSTYLE 0x00 | WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
MENU IDC_MAINMENU
STYLE 0x00 | WS_POPUP | WS_CAPTION | WS_DLGFRAME | DS_MODALFRAME | WS_VISIBLE | DS_3DLOOK | DS_FIXEDSYS
CAPTION "eLibrary"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "", IDC_STATUSBAR, "msctls_statusbar32", WS_CHILD | CCS_BOTTOM | WS_VISIBLE, 0, 257, 422, 12, 0x00
 CONTROL "", IDC_PBARSTATUS, "msctls_progress32", WS_CHILD | WS_VISIBLE, 266, 118, 89, 15, 0x00
 CONTROL "", IDC_TOOLBAR, "ToolbarWindow32", WS_CHILD | TBSTYLE_SEP | WS_VISIBLE | WS_TABSTOP, 0, 0, 422, 24, 0x00
}


//VCL Form Converter, by Luigi Bianchi
