//VCL Form Cracker, by Luigi Bianchi (Copyright, 2000)

//http:\www.luigibianchi.com


#include <winuser.h>
#include <COMMCTRL.H>

#include "fullscreen.rh"








//BEFORE_DIALOG_RC
//
//

//BEGIN
IDC_TFRMFULLSCREEN DIALOGEX 126 116 459 279
STYLE 0x00 | WS_POPUP | WS_VISIBLE | DS_3DLOOK | DS_FIXEDSYS
CAPTION "frmFullScreen"
FONT 8, "MS Sans Serif", 400, 0
{
}


//VCL Form Converter, by Luigi Bianchi
